#options_container {
  width: 400px;
  border-radius: 5px;
  border: 2px solid blueviolet;
  min-height: 50px;
  max-height: 400px;
  overflow: auto;
}
#options_container > input {
  margin: 5px;
  padding: 5px;
  position: relative;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

#notification {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(192, 205, 209);
  margin-top: 20px;
  
}